.row {
    display: flex;
    align-items: center;
    margin: 5px auto; 
}

.col, .col-2, .col-3 {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
    justify-content:s;
}
